.vs/CMakeWorkspaceSettings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/Vector/FileContentIndex/30b62b2d-1d48-4890-bba1-021bc24689a2.vsidx
.vs/Vector/FileContentIndex/71ba8a02-1d8b-4d09-a1fc-1fa96fc038c4.vsidx
.vs/Vector/FileContentIndex/8d0462cb-171a-4df3-ab03-2e112015cf91.vsidx
.vs/Vector/FileContentIndex/bb72c4e1-0995-4e04-9a88-7be289210cbb.vsidx
.vs/Vector/FileContentIndex/e0812a41-a272-4c3b-84d7-52539a40e329.vsidx
.vs/Vector/v17/.wsuo
.vs/Vector/v17/Browse.VC.db
.vs/Vector/v17/Browse.VC.db-shm
.vs/Vector/v17/Browse.VC.db-wal
.vs/Vector/v17/Browse.VC.opendb
.vs/Vector/FileContentIndex/0e73ccc7-18d7-4c97-9ef0-c8bc805644aa.vsidx
.vs/Vector/FileContentIndex/f26fc07f-9670-42ee-8c1e-fa362dcd0c9f.vsidx
.vs/
